<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- Mirrors for maven central -->
    <mirrors>
        <mirror>
            <id>UK</id>
            <name>UK Central</name>
            <url>http://uk.maven.org/maven2</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <!-- This setup is alternative to setup nexus repositories in pom.xml -->
        <mirror>
            <id>central</id>
            <name>central</name>
            <url>http://localhost:8081/repository/nexus-group/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <!-- Registration is required to use oracle repository -->
        <server>
            <id>maven.oracle.com</id>
            <username><!-- set username --></username>
            <password>{<!-- set encrypted password using 'mvn &#45;&#45;encrypt-password' after master password is set -->}</password>
            <configuration>
                <basicAuthScope>
                    <host>ANY</host>
                    <port>ANY</port>
                    <realm>OAM 11g</realm>
                </basicAuthScope>
                <httpConfiguration>
                    <all>
                        <params>
                            <property>
                                <name>http.protocol.allow-circular-redirects</name>
                                <value>%b,true</value>
                            </property>
                        </params>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>

        <!-- Get encrypted password from https://packagecloud.io/ in 'API Token' tab -->
        <server>
            <id>packagecloud.release</id>
            <password><!-- encrypted password --></password>
        </server>
        <server>
            <id>packagecloud.snapshot</id>
            <password><!-- encrypted password --></password>
        </server>
        <server>
            <id>nexus-snapshot</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>nexus-release</id>
            <username>admin</username>
            <password>admin123</password>
        </server>

        <server>
            <id>github</id>
            <username><!-- username --></username>
            <password><!-- password --></password>
        </server>
    </servers>

    <!-- Active profiles with additional repositories used in all projects -->
    <profiles>
        <profile>
            <id>jboss</id>
            <repositories>
                <repository>
                    <id>redhat-ga</id>
                    <url>https://maven.repository.redhat.com/ga/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>spring</id>
            <repositories>
                <repository>
                    <id>repository.spring.milestone</id>
                    <name>Spring Milestone Repository</name>
                    <url>http://repo.spring.io/milestone</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>repository.spring.snapshot</id>
                    <name>Spring Snapshot Repository</name>
                    <url>http://repo.spring.io/snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jboss</activeProfile>
        <activeProfile>spring</activeProfile>
    </activeProfiles>
</settings>